<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Travel DashBoard</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'travel_buddy/css/style.css' %}" media="screen" title="no title"  charset="utf-8">	
</head>
<body>
	<div id="wrapper">
		<a id='home' href="/travels">Home</a>
		<a id='logout' href="/logout">Logout</a>
		<h1>{{booking.user.name}}</h1>
		<p>Planned By: {{trip.user.name}}</p>
		<p>Description: {{trip.description}}</p>
		<p>Travel Date From: {{trip.start_date}}</p>
		<p>Travel Date To: {{trip.end_date}}</p>

		<h1>Other users joining the trip</h1>
		<p>{{trip.user.name}}</p>


	</div>
</body>
</html>