<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Login/Registration</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'travel_buddy/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<div id="wrapper">
		
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li>{{message}}</li>
			{% endfor %}		
		</ul>
		{% endif %}
			<h1>Welcome!</h1>
		<div class="form">
			<h1>Register</h1>
			<form action="/registration" method="POST">
			{% csrf_token %}
				<table>
					<tr>
						<td>
							<p>Name:</p>
						</td>
						<td>
							<input type="text" name="name">
						</td>
					</tr>
					<tr>
						<td>
							<p>Username:</p>
						</td>
						<td>
							<input type="text" name="username">
						</td>
					</tr>
					<tr>
						<td>
							<p>Password:</p>
						</td>
						<td>
							<input type="password" name="password">
						</td>
					</tr>
					<tr>
						<td>
							<p>Confirm Password:</p>
						</td>
						<td>
							<input type="password" name="c_password">
						</td>
					</tr>
				</table>
				<input type="submit" value="Register">
			</form>
		</div>
		<div class="form">
			<h1>Login</h1>
			<form action="/login" method="POST">
			{% csrf_token %}
				<table>
					<tr>
						<td>
							<p>Username:</p>
						</td>
						<td>
							<input type="text" name="username">
						</td>
					</tr>
					<tr>
						<td>
							<p>Password:</p>
						</td>
						<td>
							<input type="password" name="password">
						</td>
					</tr>
				</table>
				<input type="submit" value="Login">
			</form>
		</div>
	</div>
</body>
</html>